version: '3'

services:
  db-mysql:
    image: mysql:oracle
    container_name: db-mysql
    volumes:
       - ./mysql:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  db-phpmyadmin:
    image: arm64v8/phpmyadmin
    container_name: db-phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db-mysql
      - PMA_USER=root
      - PMA_PASSWORD=wordpress
    ports:
      - ${PHPMYADMIN_PORT}:80
    volumes:
      - ./phpmyadmin/sessions:/sessions
      - ./phpmyadmin/phpmyadmin-misc.ini:/usr/local/etc/php/conf.d/phpmyadmin-misc.ini

networks:
  default:
    external: true
    name: mysql-network